<form method="post" action="<?php echo $CFG->wwwroot ?>"
 <input type="hidden" name="name" value="<?php echo $USER->firstname.' '.$USER->lastname;?>" />
	<input type="hidden" name="email" value="<?php echo $USER->email; ?>" />
	<input type="hidden" name="username" value="<?php echo $USER->username; ?>" />
	<input type="hidden" name="password" value="<?php echo $USER->password; ?>"/>
	<input type="hidden" name="callbackUrl" value="<?php echo $CFG->wwwroot.'/depths/setup/configureopos.php'; ?>"/>
	<input type="hidden" name="registerTo" value="moodle,facebook"/>
<table align="center" cellpadding="9" cellspacing="0">

<tr>
	 
    <td width=100% align="center"><?php print_string('setFacebookAccountSuccess', 'depths');?></td>
    
</tr>
<tr>
    <td align="center">
    
    <input type="submit" value="<?php print_string('closeFacebook','depths'); ?>"/>
    </td>
    
</tr>
</table>
</form>