<!-- depths file -->
<?php
if (file_exists('depths_config.php')) {
require_once('depths_config.php');
}
?>

<form method="post" action="setDatabaseInfo.php" id="entry">
<table align="center" cellpadding="9" cellspacing="0">
<tr>
	 
    <td colspan=2 width=100% align="center"><?php print_string('setFacebookAccountIntro', 'depths');?></td>
    
</tr>
<tr ><td align="right"><?php print_string('facebookuser', 'depths');?>:</td><td align="left"><input type="text" name="facebookuser" value="some value"/></td></tr>
<tr ><td align="right"><?php print_string('facebookpass', 'depths');?>:</td><td align="left"><input type="text" name="facebookpass" value="****"/></td></tr>
 
 
<tr>
    <td colspan=2 align="center">
   
    <input type="submit" value="<?php print_string('submit','depths'); ?>" />
    <input type="button" value="<?php print_string('cancel'); ?>" onclick="javascript:history.go(-1)" /></td>
</tr>
</table>
</form>