<p align="center"><b>Add Criteria</b></p>

<p>
    This button will add the new criteria to the list of criteria with
    which teachers and students can assess submitted files and/or
    presentations.
</p>
