<p align="center"><b>Add new idea</b></p>
<p>Use provided text box to carefully describe your idea how would you solve given problem. 
In order to familiarize yourself with the problem, you should use Recommended reading to read more
about related resources. Moreover, you can use Related resources to read about concepts that have
been used by your collegues.
</p>