<p align="center"><b>Assessment Weighting</b></p>

<p>
    When there are two or more assessments, the assessment weighting assigns the proportion of the total grade to each assessment.  The total of the weightings must be 100 (100%).
</p>