<p align="center"><b>Assessment Task</b></p>

<p>
    The Assessment Task allows Students and Teachers to rate either live 
    presentations or files that have been submitted using the Submit Task.
    Teachers can specify the rating criteria, the weighting for a 
    particular assessment and whether the assessment relates to files
    submitted or a live presentation.
</p>
<p>
    Multiple Assessment Tasks are allowed to be created.
</p>