<p align="center"><b>Assign To Group</b></p>

<p>
    Assign the chosen students to a group. The group name must be specified, or
    no group will be formed.
</p>

<p>
    A group will not be formed if the minimum number of users is not met or the
    maximum number of users is exceeded.
</p>

<p>
    Students cannot create a group that they are not a part of. However, 
    Teachers can create groups with any users.
</p>