<p align="center"><b>Brainstorm Task</b></p>

<p>
    This must be the first task performed as part of any project and is 
    created from the co-ordination stage. This task allows Teachers and/or 
    Students to brainstorm topics
</p>
<p>
    Brainstormed topics will be added to the brainstorm list. The list will 
    be finalised at the task late completion date.
</p>
<p>
    Multiple Brainstorms are allowed to be created.
</p>