<p align="center"><b>Choose Topic</b></p>

<p>
    A group/individual may select a topic from the drop-down menu. These are
    allocated on a first-come, first-served basis. It is up to the class
    involved to ensure that there are a sufficient number of topics created
    in the Brainstorm task for all students or groups.
</p>

<p>
    Each topic can only be selected by one student or group. Any group 
    member can select a topic for the entire group (if group work). 
<p>
