<p align="center"><b>Criteria Name</b></p>

<p>
    This name provides a high-level view of what the assessment item is for.
    E.g. for a submitted PowerPoint file, this item may be "Number of slides".
</p>

<p>
    The label names are for each item within the rating scale (up to the number
    of items allowed in the rating scale - defined when the Assessment task
    was created). Each item in the list is given a mark ranging from 0 to the
    number of items.

    Using the above example with the number of items as four, this might be
    labeled as:
        0. Less than 5
        1. 5 to 10
        2. 11 to 15
        3. More than 15

    If the student had 12 slides in their file, they would be given a mark of
    2 out of a possible 3.
</p>

<p>
    Note: Once a criteria has been added, it cannot be edited. The Teacher
    must delete the criteria and add a new criteria. This will also delete 
    the ratings for the criteria.
</p>