<p align="center"><b>Delete Criterion</b></p>

<p>
    This link will delete the criterion from the list of created
    criteria.
</p>

<p>
    Note that this will affect all ratings of submissions and/or presentations
    that have already been made.
</p>
