<p align="center"><b>Delete Task</b></p>

<p>This will delete the entire task from the database. Any work performed by
    students will be lost, and if there were dependencies between the tasks,
    all links between the tasks will be broken.
</p>

<p>
   Note that deleting a task higher in the hierarchy will delete all the 
   associated tasks below it. The hierarchy is listed below:
</p>
<ul>
    <li>Brainstorm</li>
    <li>Signup: Groups</li>
    <li>Signup: Topics</li>
    <li>Submit or Schedule</li>
    <li>Assessment</li>
</ul>
