<p align="center"><b>Delete File</b></p>

<p>
    Clicking this link will delete the file that had been uploaded. This will
    also delete any assessments of that file in an Assessment task (<b>Note 
    that this has not yet been implemented</b>).
</p>
