<p align="center"><b>Delete Project</b></p>

<p>
    Clicking this link will delete the project that had been uploaded to this task. However, the project will remain 
    at the repository and it can be used in other tasks.
</p>
