<p align="center"><b>Disband Group</b></p>

<p>
    This will completely disband the group. Any task that the group had
    performed together will be lost (including submitted files, scheduled
    times and assessed tasks).
</p>

<p>
    This option is only available to teachers.
</p>
