<p align="center"><b>File to be Assessed</b></p>

<p>
    This frame contains the file to be assessed for Submit tasks.
    If the assessment is for a presentation, this frame will be empty.
    Also, if the file type cannot be displayed in the user's browser,
    they will be prompted to save the file to their current computer
    in order to open it in their desired program.
</p>
