<p align="center"><b>Groups Task</b></p>

<p>
    Groups Task allows Students and Teachers to:
</p>
    <ul>
        <li>Create new groups</li>
        <li>Join existing groups</li>
        <li>Leave groups</li>
        <li>Assign students to groups and disband groups (Teacher 
	    functionality only)</li>
    </ul>

<p>
    Multiple Groups Tasks are not allowed.
</p>