<p align="center"><b>Join Group</b></p>

<p>
    Enables the user to join a pre-existing group. The user must select one
    group from the radio buttons above. A group cannot be joined if the maximum
    number of individuals are already in the group or if the user is already in
    a group.
</p>
