<p align="center"><b>Leave Group</b></p>

<p>
    This will remove the user from their current group and enable
    them to choose a new group.
</p>

<p>
    This option is only available if the user is already in a group.
</p>

<p>
    If by leaving a group, the minimum group size is violated, the
    whole group is disbanded.
</p>