<p align="center"><b>Presentation Duration</b></p>

<p>
    This is the amount of time that a teacher allows to schedule each
    individual appointment. For example, if this value was 10 minutes,
    each presentation time-slot would last for 10 minutes.
</p>