<p align="center"><b>Project Start Date</b></p>

<p>This date signifies the starting date of the project. If this date is set
    after the current date, it will not be visible by students. It will become
    visible to students once the start date arrives.</p>

<p>Teachers will always be able to see the project, even if it has not started.</p>
