<p align="center"><b>Project End Date</b></p>

<p>This date is the last day of the project. All tasks to be conducted in the
    project have to be completed before or on this date.</p>

<p>This date cannot be set before the start date of the project.</p>

<p>Once this date has passed, no further tasks should be performed. However,
    it is still possible for students to perform tasks if the late end date is
    set to a later date.</p>
