<p align="center"><b>Rate Presentation</b></p>

<p>
    This link will take the user to the rating form in which they can
    assess the appropriate presentation. The rating form should have been
    created by the teacher at an earlier stage.
</p>
