<p align="center"><b>Rate Submission</b></p>

<p>
    This link will take the user to the rating page for assessing the
    relevant submission. The rating form should have been created by the
    teacher at an earlier stage.
</p>

<p>
    In order to view the submitted file in the frame on the page, the user must
    have access to the appropriate web browser that supports viewing the type
    of file that was submitted. If this is not supported, a pop-up will appear
    that will allow the user to save the file to their computer and view it in
    a separate window.
</p>
