<p align="center"><b>Remove Time Period</b></p>

<p>
    This allows you to remove the specific appointment time period.
</p>

<p>
    Note that any previously scheduled appointments during this time period
    will be removed.
</p>