<p align="center"><b>Save Criteria Below as an Assessment Template</b></p>

<p>
    With "Save Criteria Below as an Assessment Template", a teacher can save the assessment criteria as a set for future use.  Give the set of criteria a name, by typing the name in the box and clicking "Save".   This set will then appear in the list of assessment template on the left side of the teacher's screen, labeled "Use an Assessment Template".
</p>