<p align="center"><b>Schedule Task</b></p>

<p>
    The Schedule Task allows Teachers to set appointment times which Students
    can then book to schedule a presentation. 
</p>
<p>
    Multiple Schedule Tasks are allowed to be created.
</p>