<p align="center"><b>Self Mark</b></p>

<p>
    This mark is the sum of all the critera ratings that the student assesses on himself/herself.  The percentage below the mark means the proportion that self-marking is assigned to the Overall Mark.
</p>