<p align="center"><b>Signup</b></p>

<p>
    This is not a task. It consists of the Groups task and the Topics task.
    These tasks collectively allow Students (and Teachers) to create or
    join groups and select topics that were added during the Brainstorm
    Task.
</p>
<p>
    Multiple Signups are not allowed.
</p>