<p align="center"><b>Task Start Date</b></p>

<p>
    This is the starting date for the task. The date must be on or after
    the start date of the project.
</p>

<p>
    The default value is the current date.
</p>
