<p align="center"><b>Topics Task</b></p>

<p>
    Topics Task allows Students and Teachers to select topics that were added
    to the Project during the Brainstorm Task. Users have the ability to
    select topics and release topics. Teachers can also assign Students to
    topics or unassign them.
</p>
<p>
    Multiple Topics Tasks are not allowed.
</p>