<p align="center"><b>Topic Selection Options</b></p>

<p>
    There are three options for selecting topics:
</p>

<ol>
    <li><b>First-come, first-served</b> - This option allows each individual/group
    to choose one topic from the available list. Once a topic is chosen, it is
    removed from the list of available topics.

    If multiple students wish to choose the same topic, there needs to be
    multiple versions of the same topic name created in the Brainstorm task.
    </li>

    <li><b>Voting-based</b> - This option allows students to vote for their desired
    topic, and topics are allocated based on the votes. 
    </li>

    <li>
	  <b>Random</b> - This option randomly allocates topics from the brainstorm list 
	  to each individual or group at the close of the signup task.
    </li> 
