<p align="center"><b>Un-assign Topics</b></p>

<p>
    A teacher may un-assign the topic from each group or individual by 
    selecting the check box and clicking "Unassign".
</p>

<p>
    More than one group or individual can be un-assigned from their topic at 
    the same time by selecting more than one check box before clicking 
    "unassign".
</p>

<p>
    Note that unassigning a group/student from their topic will result in lost
    information where there are dependencies between tasks. Any submission,
    scheduled time or assessed piece of work will be lost.
</p>
