<p align="center"><b>Update Task</b></p>

<p>
    This allows you to update details that were entered during task creation
    such as:
</p>
<ul>
    <li>Name</li>
    <li>Description</li>
    <li>Commencement Date</li>
    <li>Completion Date</li>
    <li>Other task specific details</li>
</ul>