<p align="center"><b>Use an Assessment Template</b></p>

<p>
    When you select an assessment template from the list provided in "Use Template", a saved list of criteria will appear in the Teacher's editing window for making criteria.  This will save you much time in creating detailed criteria.  This set of criteria is often called a "rubric" by some educators.   Sharing rubrics is useful for teacher and in the future we may be able to upload/download rubrics for exchange in a repository.  Please note that the number of assessment points in the rating scale are not flexible.  When it was originally at 3 or 4 or some number, that cannot be changed at present.
</p>