<p align="center"><b>View File</b></p>

<p>
    Clicking this link will enable the user to view the submitted file. This
    will open in a new window.
</p>

<p>
    If the user does not have the program installed to view the file, they
    will be prompted to save the file to their harddrive. Note that this is
    browser- and system-dependent.
</p>