<p align="center"><b>View Project</b></p>

<p>
    Clicking this link will enable the user to view the submitted project. This
    will open in a popup window.
</p>

<p>
    If the popup window is not shown check your web browser settings and turn of popup blocker. 
</p>