body {
  background:#C8C9C7;
}

a:link,
a:visited,
.tabtree ul li ul li a span {
  color:#4C6B30;
}

a:hover {
  color:#000;
}

#footer a:link,
#footer a:visited,
.headermenu a:link,
.headermenu a:visited {
  color:#697F55;
}

h2.headingblock,
.forumpost .content {
  border-color:#697f55;
}

#participants th,
.quizattemptsummary th,
.course-report-outline th,
#admin-report-security-index th,
#admin-roles-override th,
#admin-roles-assign th,
#admin-blocks th,
#admin-modules th,
#grade-edit-scale-index th,
#enrol th,
#course-category th,
.editcourse th,
#admin-roles-allowoverride th,
#admin-roles-manage th,
#admin-roles-allowassign th,
#mod-wiki-index th,
#mod-survey-index th,
#mod-scorm-index th,
#mod-resource-index th,
#mod-glossary-index th,
#mod-data-index th,
#mod-chat-index th,
#mod-choice-index th,
#mod-assignment-index th,
#mod-lesson-index th,
#mod-quiz-index th,
#admin-user th,
.user-grade th,
.logtable th,
.mod-forum .generaltable th,
.forumheaderlist th,
.results th,
.navbar,
#course-view .weeks .current td.side,
#course-view .topics .current td.side {
  background:#697f55;
}

.navbar a:link,
.navbar a:visited {
  color:#fff;
}

.navbar a:hover {
  color:#000;
}

.navbar .breadcrumb .sep {
  color:#333;
}

#wrapper-t {
  background:url(images/wrapper_t.jpg) repeat-x 0 0;
}

#wrapper-l {
  background:url(images/wrapper_l.jpg) repeat-y 0 0;
}

#wrapper-r {
  background:url(images/wrapper_r.jpg) repeat-y 100% 0;
}

#wrapper-b {
  background:url(images/wrapper_b.jpg) repeat-x 100% 100%;
}

#wrapper-tl {
  background:url(images/wrapper_tl.jpg) no-repeat 0 0;
}

#wrapper-tr {
  background:url(images/wrapper_tr.jpg) no-repeat 100% 0;
}

#wrapper-bl {
  background:url(images/wrapper_bl.jpg) no-repeat 0 100%;
}

#wrapper-br {
  background:url(images/wrapper_br.jpg) no-repeat 100% 100%;
}

#header-t {
  background:url(images/header_t.jpg) repeat-x 0 0;
}

#header-r {
  background:url(images/header_r.jpg) no-repeat 100% 0;
}

#header-l {
  background:url(images/header_l.jpg) no-repeat 0 0;
  padding:11px 0 0;
}

#header-m {
  background:#222;
  padding:0 10px;
}

#header-m.home {
  border-bottom:5px solid #697F55;
}


#footer-b {
  background:url(images/footer_b.jpg) repeat-x 0 100%;
}

#footer-l {
  background:url(images/footer_l.jpg) no-repeat 0 100%;
}

#footer-r {
  background:url(images/footer_r.jpg) no-repeat 100% 100%;
  padding-bottom: 11px;
}

#footer-m {
  background:#000;
  padding-top:11px;
}

#footer a:hover {
  color:#fff;
}


