
/* Core */
	
body {
  padding:0;
  margin:0;
}

body, p, th, td, li,
.sideblock .content {
  font-family:Georgia, Times, "Times New Roman", serif;
  font-size:0.95em;
  line-height:1.4;
}

#page {
  margin:25px 3% 5px;
}

#layout-table {
  margin:0;
  padding-top: 15px;
}

.weeks-format, .topics-format {
    margin-top: 0;
    padding-top: 10px;
}

.tabtree ul li ul li a.nolink span {
  color:#000;
}

/* Header */

#header h1.headermain,
#header-home h1.headermain {
  font-size:2.3em;
  color:#fff;
  padding:10px 0 20px 15px;
  line-height:0.7;
  font-weight:normal;
}

#header h1.headermain {
  font-size:1.75em;
}

h1.headermain span {
  font-size:0.45em;
  color:#bbb;
}

h1.headermain span p {
  margin-bottom: 0;
}

.headermenu {
  color:#ccc;
  margin-right:15px;
}

/* Navbar */

.navbar {
  border:none;
  margin:0;
}

.navbar .breadcrumb .sep {
  font-size:0.8em;
  padding:0 5px;
}
/* Content */

#content {
  margin:0 11px;
  background: #fff;
  padding:10px 0 25px;
}

#site-index #content,
#course-view #content {
  padding-top:0;
}

.sitetopic {
  border:none;
}

h2.headingblock {
  background:#f2f2f2;
  border-width:0 0 1px 0;
  padding:4px 5px 2px;
}

/* Sideblocks */

.sideblock .header {
  padding:7px 8px 0;
  border:none;
  background:url(images/sideblock_t.jpg) no-repeat 0 0;
}

.sideblock .title h2 {
  font-size:1.1em;
}

.sideblock .content {
  background:#f2f2f2;
  border-width:0 1px 0 1px;
  border-color:#e3e3e3;
  padding-bottom:0;
}

.sideblock {
  background:url(images/sideblock_b.jpg) no-repeat 0 100%;
  padding-bottom:11px;
}

.block_login .header {
  background:url(images/sideblock-y_t.jpg) no-repeat 0 0;
}

.block_login .content {
  background:#fcfed9;
  border-color:#ebedc8;
}

.block_login {
  background:url(images/sideblock-y_b.jpg) no-repeat 0 100%;
}

#right-column .hidden .header,
#left-column .hidden .header {
  border-bottom:none;
}

#left-column .hidden {
  padding-bottom:11px;
}

.sideblock .title .commands {
  padding-bottom:5px;
}

.sideblock,
.block_adminblock {
  width:200px;
}

/* 2.0 ************************

.weeks-format #left-column,
.weeks-format #right-column,
.topics-format #left-column,
.topics-format #right-column {
  width: 200px;
}

.weeks-format #middle-column ,
.topics-format #middle-column {
  margin: 0 210px 0 210px;
}

******************************/

.sideblock .minicalendar,
.sideblock .filter table,
.block_course_summary .header,
.block_course_summary .content,
.block_course_summary {
  background: none;
  border: none;
}

.block_calendar_month .minicalendar {
  font-size:0.8em;
}

.block_online_users .info {
  padding-bottom: 3px;
}



/** Simpler sideblocks without curvy corners **

.sideblock .header {
  background:url(images/sideblock.jpg) repeat-x 0 0;
  border-color:#EFF0F1;
  padding:5px 7px 2px;
  color:#444;
  font-size:1em;
}

.sideblock .content {
  border-color:#EFF0F1;
  background:none;
  border-top-width:2px;
}

*/

.sideblock li {
  line-height:1.5;
}

.sideblock .content hr {
  background:#eff0f1;
  border-color:#eff0f1;
}

#right-column .sideblock {
  margin-right:0;
  margin-left:10px;
}
/* Calendar */

.sidecalendar .sideblock,
.sidecalendar .sideblock .header {
  background:none;
}

/* User */

.userinfobox {
  border:none;
}

.userinfobox .content {
  border:1px solid #ddd;
  background:#f2f2f2;
}


/* Course */

.coursebox {
  border-width: 0 0 1px 0;
  padding-bottom:10px;
}

.categorybox {
  border:none;
}
.coursebox .info {
  width:35%;
}

.coursebox .summary {
  width:55%;
}

.coursebox .teachers {
  padding-left: 1.5em;
}

.courseboxes {
  width:60%;
  margin: 0 auto;
}

#intro {
  background:#f2f2f2;
}

/* Forums */

.forumpost {
  border-width:0;
}

.forumpost td.left {
  background:none;
}

.forumpost td.content {
  border-width:1px 0 2px 0;
  border-style:solid;
  padding-top:10px;
}

.forumpost .topic {
  background:#f2f2f2;
}

.forumpost .topic.starter {
  background:#ddd;
}

.forumpost .topic.starter .subject {
  font-size:1.2em;
}

/* Tables */

/* Tables */

.generaltable {
  border-color:#ddd;
}

#participants th,
.quizattemptsummary th,
.course-report-outline th,
#admin-report-security-index th,
#admin-roles-override th,
#admin-roles-assign th,
#admin-blocks th,
#admin-modules th,
#grade-edit-scale-index th,
#enrol th,
#course-category th,
.editcourse th,
#admin-roles-allowoverride th,
#admin-roles-manage th,
#admin-roles-allowassign th,
#mod-wiki-index th,
#mod-survey-index th,
#mod-scorm-index th,
#mod-resource-index th,
#mod-glossary-index th,
#mod-data-index th,
#mod-chat-index th,
#mod-choice-index th,
#mod-assignment-index th,
#mod-lesson-index th,
#mod-quiz-index th,
#admin-user th,
.user-grade th,
.logtable th,
.mod-forum .generaltable th,
.forumheaderlist th,
.results th {
  color:#fff;
  border-bottom:2px solid #111;
  padding:0 4px;
}

#participants th a,
#admin-user th a {
  color: #fff !important;
}

#categoryquestions th,
#mod-quiz-edit th,
#itemanalysis th,
#attempts th,
.course-report-participation th,
#tag-management-list th {
  background:#eee;
  border-bottom:2px solid #999;
}

#participants td,
.quizattemptsummary td,
.course-report-participation td,
.course-report-outline td,
#admin-report-security-index td,
#admin-roles-override td,
#admin-roles-assign td,
#admin-blocks td,
#admin-modules td,
#grade-edit-scale-index td,
#enrol td,
#course-category td,
.editcourse td,
#admin-roles-allowoverride td,
#admin-roles-allowassign td,
#admin-roles-manage td,
#admin-user td,
#tag-management-list td,
#mod-wiki-index td,
#mod-survey-index td,
#mod-scorm-index td,
#mod-resource-index td,
#mod-quiz-index td,
#mod-lesson-index td,
#mod-glossary-index td,
#mod-data-index td,
#mod-chat-index td,
#mod-choice-index td,
#mod-assignment-index td,
.mod-forum .generaltable td,
.forumheaderlist td {
  border-width:0 1px 0;
  border-color:#ddd !important;
  border-style: solid;
}

.forumheaderlist .discussion .starter {
  background:none;
}

.quizattemptsummary .r1 .cell,
.course-report-participation .r1 .cell,
#admin-report-security-index .r1 .cell,
#admin-roles-override .r1 .cell,
#admin-blocks .r1 .cell,
#admin-modules .r1 .cell,
#grade-edit-scale-index .r1 .cell,
#enrol .r1 .cell,
#admin-roles-allowoverride .r1 .cell,
#admin-roles-allowassign .r1 .cell,
#admin-roles-manage .r1 .cell,
#admin-roles-assign .r1 .cell,
#admin-user .r1 .cell,
#tag-management-list .r1 .cell,
#mod-wiki-index .r1 .cell,
#mod-survey-index .r1 .cell,
#mod-scorm-index .r1 .cell,
#mod-quiz-index .r1 .cell,
#mod-lesson-index .r1 .cell,
#mod-glossary-index .r1 .cell,
#mod-data-index .r1 .cell,
#mod-chat-index .r1 .cell,
#mod-choice-index .r1 .cell,
#mod-assignment-index .r1 .cell,
.mod-forum .generaltable .r1 .cell,
.forumheaderlist .r1 {
  background:#eee;
}

/* Login */

.loginbox {
  margin-bottom: 0;
  padding-bottom: 15px;
}

/* Modules */

#mod-forum-search #wrapper-br {
	padding-bottom: 21px;
}

#mod-forum-search .generalbox {
  padding-bottom: 0;
  margin-bottom: 0;
}

#mod-forum-search #content {
  padding:0 5% 20px 5%}

/* Footer */

#footer {
  margin:0 !important;
  color:#ccc;
}
#footer-logo {
  float:left;
  padding-left:20px;
  line-height: 0;
}

#footer-loggedinas {
  float:right;
  padding-right:20px;
}

#footer-helplink {
  font-size: 0.8em;
  float: left;
  padding-left: 15px;
  line-height: 1em;
  padding-top: 3px;
}

#footer-helplink img {
  margin-bottom: 5px;
}

.linkback {
  font-size:10px;
  margin:0 5% 20px;
  text-align:right;
}

.linkback {
  display:none;
}

#site-index .linkback,
#course-view .linkback,
#course-index .linkback,
#user-view .linkback,
#login-index .linkback {
  display: block;
}

/* Message Popup */

body.message {
  background: #fff;
}

body.message div {
  background-image: none !important;
}

body.message #page {
  margin: 0;
}

body.message #footer {
  display: none;
}

/* Various Hacks */

#theme-index #page {
  min-width: 900px;
}

.admin #page {
  min-width: 700px;
}

.reportlink {
  margin:0 0 20px;
}
