<!-- depths file -->

<table cellpadding="9" cellspacing="0">
<tr>
    <td><?php print_string('locodatabaseini', 'depths');?></td>
   
</tr>
<tr><td>test<td></tr>

<tr>
    <td colspan="2" align="center">
   
    
</table>