  <?php
  echo '<div>';
                    echo '<table cellspacing="0" class="glossarypost">';

                    echo '<tr>';
					 echo '<td align="center">';
					 echo 'some text';
					 echo "<strong> some other text</strong>" ;
                    echo '</td></tr></table></div>';
                    ?>